/*Bulma*/

#image
{
  background: url("https://www.pole-emploi.fr/accueil/image/mmlelement/pj/ea/bc/95/24/home-cover-48859.jpg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  height: 77vh;
  justify-content: center;
}

#pub {
  width: auto;
}

.level a {
  color: grey;
}

.level {
  display: flex;
  vertical-align: center;
  height: 80px;
}

.contenu {
  color: white;
  text-align: center;
  font-size: 1em;
  margin-top: auto;
}

#image a {
  border-radius: 100%;
  height: 80px;
  width: 80px;
  display: inline-flex;
}

#C {
  height: 50vh;
}

.columns p {
  color: white;
  text-align: center;
  font-size: 15px;
  align-items: center;
}

.column #services {
  color: white;
  font-size: 25px;
}

.column h1 {
  font-size: 40px;
}
