/*Bulma*/

#image
{
  background: url("https://www.pole-emploi.fr/accueil/image/mmlelement/pj/ea/bc/95/24/home-cover-48859.jpg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  height: 80vh;
  justify-content: center;
}

.level a {
  color: grey;
}

.level {
  display: flex;
  vertical-align: center;
  height: 80px;
}

.contenu {
  color: white;
  text-align: center;
  font-size: 1em;
  margin-top: auto;
}

#image a {
  border-radius: 100%;
  height: 80px;
  width: 80px;
}

#A {
  height: 50vh;
}
